<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <div class="body-content">

    <div class="card border-light mb-3">

      <!-- Card header -->
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h2 class="text-primary"> <strong>Categorías</strong></h2>
          </div>
        </div>
      </div>

      <!-- Card body -->
      <div class="card-body">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr class="table-info">
              <th class="text-primary-emphasis">Id</th>
              <th class="text-primary-emphasis">Acronym</th>
              <th class="text-primary-emphasis">Category</th>
              <th class="text-primary-emphasis">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light">
              <td>1001</td>
              <td>IVA</td>
              <td>Impuesto del Valor Agregado</td>
              <td>Activo</td>
            </tr>
            <tr class="table-light">
              <td>1002</td>
              <td>RAE</td>
              <td>Real Academia Española</td>
              <td>Inactivo</td>
            </tr>
            <tr class="table-light">
              <td>1003</td>
              <td>OVNI</td>
              <td>Objeto Volador No Identificado</td>
              <td>Inactivo</td>
            </tr>
            <tr class="table-light">
              <td>1004</td>
              <td>OTAN</td>
              <td>Organización del Tratado del Atlántico Norte</td>
              <td>Activo</td>
            </tr>
            <tr class="table-light">
              <td>1005</td>
              <td>COI</td>
              <td>Comité Olímpico Iternacional</td>
              <td>Inactivo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      
      
  </div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
