<div class="body-content">

    <div class="card border-light mb-3">

      <!-- Card header -->
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h2 class="text-primary"> <strong>Categorías</strong></h2>
          </div>
        </div>
      </div>

      <!-- Card body -->
      <div class="card-body">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr class="table-info">
              <th class="text-primary-emphasis">Id</th>
              <th class="text-primary-emphasis">Acronym</th>
              <th class="text-primary-emphasis">Category</th>
              <th class="text-primary-emphasis">Status</th>
            </tr>
          </thead>
          <tbody>
            @for (category of categories; track category; let i = $index) {
                <tr>
                    <td>
                        {{category.category_id}}
                    </td>
                    <td>
                        {{category.acronym}}
                    </td>
                    <td>
                        {{category.category}}
                    </td>
                    <td>
                        {{category.status}}
                    </td>
                </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
      
      
  </div>