/* tables  */
.td-status{
    position: absolute;
    width: 100px;
    text-align: center;
    border-radius: 8px;
    /* color: white; */
  }
  
.td-status-enable{
    background-color: #34dba9;
    color: black;
  }
  
.td-status-disable{
  background-color: #df2a16;
  color: white
}


/* ul dropdown  */

.dropdown-button{
  border: none;
  background-color: white;
}

.dropdown-item{
  color: black !important;
  cursor: pointer;
}


.dropdown-item:hover{
  color: white !important;
}


.enable-item{
  color: blue !important;
  cursor: pointer;
}


.enable-item:hover{
  color: white !important;
}


.disable-item{
  color: red !important;
  cursor: pointer;
}


.disable-item:hover{
  color: white !important;
}

.icon-text-ul{
  font-size: 14px;
  margin-right: 8px;
}
